<template>
    <div class="slds-m-top_small slds-m-bottom_medium">
        <h2 class="slds-text-heading_small slds-m-bottom_small">
            Click this to activate annonymization process on this record.
        </h2>
        <lightning-button variant="brand" label={label.anonymize} title="Anonymize" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
    </div>
</template>
